<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout="image-side"
     data-ad-layout-key="-fc+4e+9j-fu+36"
     data-ad-client="ca-pub-1094744891389501"
     data-ad-slot="8189721073"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>




<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Wiseindy.com - test -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-1094744891389501"
     data-ad-slot="2598143146"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>