---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.post-list-single {
  width: 100%;
  float: none;

  @include tablet {
    width: 50%;
    float: left;
  }

  @include desktop {
    width: 33%;
    float: left;
  }
}

.post-title {
  font-size: 25px;
  font-weight: bold;
}

.post-featured-image {
  width: 100%;
  padding-bottom: 56.25%;
  background-size: cover;
}
