@import "minima";

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.post-list-single {
  width: 100%;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 33%;
  }
}

.post-featured-image {
}
