---
layout: default
---

<div class="home">

  <!--<h1 class="page-heading">Posts</h1>-->
  
  {{ content }}
  
  <ul class="row post-list">
    {% for post in site.posts %}
      {% assign loopindex = forloop.index %}
      {% if loopindex == 4 %}
      <li class="col-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Front page - 1 (wiseindy.com) -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4196010817129150"
             data-ad-slot="7854991800"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
      {% endif %}
      {% if loopindex == 7 %}
      <li class="col-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Front page - 1 (wiseindy.com) -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4196010817129150"
             data-ad-slot="7854991800"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
      {% endif %}
      {% if loopindex == 10 %}
      <li class="col-12">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Front page - 1 (wiseindy.com) -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4196010817129150"
             data-ad-slot="7854991800"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </li>
      {% endif %}
      <li class="col-4  post-list-single-wrapper">
        <div class="post-list-single">
          <div class="post-featured-image-wrapper">
            <div class="post-featured-image" style="background: url({{ site.baseurl }}{{ post.image }}) no-repeat; background-size: cover; background-position: center;">
            </div>
          </div>
          <div class="post-title">
            <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </div>
          <div class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</div>
          <div class="post-meta">
            <a href="{{ post.url | relative_url }}#disqus_thread"></a>
          </div>
          <p>
            <!--{{ post.excerpt }}-->
            {{ post.content | strip_html | truncatewords: 25 }}
          </p>
          <div class="post-link-wrapper">
            <a href="{{ post.url | relative_url }}">Continue reading...</a>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>
