---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <img width="1920" height="auto" src="{{ site.baseurl }}{{ page.image }}" sizes="(max-width: 1920px) 100vw, 1920px" title="{{ page.title | escape }}" alt="{{ page.title | escape }}">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  
  <div class="row">
    <div class="col-12">
      {% include adsense-post-before.html %}
    </div>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="row">
    <div class="col-12">
      {% include adsense-post-after.html %}
    </div>
  </div>
  
  <!-- Pagination links -->
  <br>
  <div id="post-nav">
    <div>    
        {% if page.previous.url %}
        <p>
          Previous post:&nbsp;
          <a class="prev" href="{{page.previous.url}}">
            <span>{{page.previous.title}}</span>
          </a>
        </p>
        {% endif %} 
        {% if page.next.url %} 
        <p>
          Next post:&nbsp;
          <a class="next" href="{{page.next.url}}">
              <span>{{page.next.title}}</span>
          </a>
        </p>
        {% endif %} 
    </div>
  </div>
  
  <div class="related">
    <h3>Related Posts</h3>
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    <div class="row">
    {% for related in site.categories[firstCategory] %}
        {% unless page.permalink == related.permalink %}
            {% assign relatedCount = relatedCount | plus: 1 %}
            <div class="col-4">
              <a href="{{related.permalink}}">
                <div class="post-featured-image-wrapper">
                  <div class="post-featured-image" style="background: url({{ site.url }}{{ related.featured }}) no-repeat; background-size: cover; background-position: center;">
                  </div>
                </div>
                <div class="post-title">
                  {{ related.title }}
                </div>
              </a>
            </div>
        {% endunless %}

        {% if relatedCount == 3 %}
            {% break %}
        {% endif %}
    {% endfor %}
    </div>
  </div>
  
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
