---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <img width="1920" height="auto" src="{{ site.baseurl }}{{ page.image }}" sizes="(max-width: 1920px) 100vw, 1920px" title="{{ page.title | escape }}" alt="{{ page.title | escape }}">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>
  
  <div class="row">
    <div class="col-12">
      {% include adsense-post-before.html %}
    </div>
  </div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="row">
    <div class="col-12">
      {% include adsense-post-after.html %}
    </div>
  </div>
  
  <!-- Pagination links -->
  <div id="post-nav">
    <div>    
        {% if page.previous.url %}
        <p>
          <a class="prev" href="{{page.previous.url}}">
            <span>Previous post: {{page.previous.title}}</span>
          </a>
        </p>
        {% endif %} 
        {% if page.next.url %} 
        <p>
          <a class="next" href="{{page.next.url}}">
              <span>Next post: {{page.next.title}}</span>
          </a>
        </p>
        {% endif %} 
    </div>
  </div>
  
  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
